{% extends "uber/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<h1>This page will search a open ride</h1>
<div class="content-section">
    {% if open_rides|length != 0 %}
        <p class='text-muted'>confirm a open ride!
            <ul class="list-group">
                    {% for ride in open_rides%}


                        <li class="list-group-item list-group-item-light">
                            Destination: {{ ride.destination}}
                                <br>
                                Arrival Time (Expected): {{ride.expected_arrival}}

                                <br>
                                Special Request: {{ride.special_request}}
                            <a class="nav-item nav-link" href="../driver_confirm/{{ ride.id }}">confirm</a>
                        </li>
                    {% endfor%}
            </ul>
        </p>
    {% endif %}
</div>
{% endblock body %}