{% extends "uber/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<h1>This page will search cur ride</h1>
<div class="content-section">
    {% if user.profile.is_driver == False%}
        {% if owned_rides|length != 0 %}
            <p class='text-muted'>Below are your upcoming rides!
                <ul class="list-group">
                        {% for ride in owned_rides%}
                            <li class="list-group-item list-group-item-light">
                                Destination: {{ ride.destination}}
                                <br>
                                Arrival Time (Expected): {{ride.expected_arrival}}
                                <br>
                                vehicle_type: {{ ride.vehicle_type }}
                                <br>
                                Share with others:
                                {% if ride.isShare %}
                                    Yes
                                    <br>
                                    Shared With: {% for sharer in ride.ride_sharer.all %}{{ sharer }} {% endfor %}
                                {% else %}
                                    No
                                {% endif %}
                                <br>
                                Special Request: {{ride.special_request}}
                                <a class="nav-item nav-link" href="../edit_ride/{{ ride.id }}">edit</a>
                            </li>
                        {% endfor%}
                </ul>
            </p>
        {% endif %}

        {% if shared_rides|length != 0 %}
        <p class='text-muted'>Below are the rides you gonna share with other people!
                <ul class="list-group">
                        {% for ride in shared_rides%}
                            <li class="list-group-item list-group-item-light">
                                Owner of the Ride: {{ ride.ride_owner.username }}
                                <br>
                                Destination: {{ ride.destination}}
                                <br>
                                Arrival Time (Expected): {{ride.expected_arrival}}
                                <br>
                                Special Request: {{ride.special_request}}
                            </li>
                        {% endfor%}
                </ul>
            </p>
        {% endif %}

    {% else %}
        {% if owned_rides_driver|length != 0 %}
            <p class='text-muted'>Below are your upcoming rides!
                <ul class="list-group">
                        {% for ride in owned_rides_driver%}


                            <li class="list-group-item list-group-item-light">
                                Destination: {{ ride.destination}}
                                <br>
                                Arrival Time (Expected): {{ride.expected_arrival}}
                                <br>
                                Driver: {{ ride.driver_name }}
                                <br>
                                {% if ride.isShare %}
                                    Yes
                                    <br>
                                    Shared With: {% for sharer in ride.ride_sharer.all %}{{ sharer }} {% endfor %}
                                {% else %}
                                    No
                                {% endif %}
                                <br>
                                Special Request: {{ride.special_request}}
                                <a class="nav-item nav-link" href="../complete/{{ ride.id }}">This ride is finished</a>
                            </li>
                        {% endfor%}
                </ul>
            </p>
        {% endif %}

    {% endif%}
          </div>
{% endblock body %}